
img{
    width: 220px;
    height: 220px;
    
}









 p{
    text-align: center;
 }

div{
    position: relative;
    float: left;
 width: 250px;
 height: 250px;
 margin: 10px;
 border: 3px solid red;
 padding: 25px;
 color: red;
 font-weight: bold;

 text-align: center;

}

