body{
    background-color: grey;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
}



table, tr, th, td {
    border: 1px solid black;
    border-top: none;
    border-collapse: collapse;
    padding: 3px;
    width: 1600px;
    height: 50px;
    text-align: center;
    
    }
    h1{
       text-align: center;
    }
    #Info{
       margin: 20px;
       color: black;
       text-align: center;
       
    }
     img{
        display: block;
        width: 490px;
        height: 200px;
        float: left;
        margin: auto;
        border: 2px solid;
        color: blue;
    
        
    
  }

  video.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box; 
}

a{
    margin: 10px 30px 30px 10px;
    border: 5px solid;
    width: 80px;
    height: 40px;
    background-color: black;
    color: gray;
    text-align: center;
    
    margin-left: auto;
    margin-right: auto;
    place-items: center;
    

}


  
  div.absolute {
    position: absolute;
    top: 80px;
    right: 0;
    width: 200px;
    height: 100px;
    border: 3px solid #73AD21;
  }


     
    